<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.11.2/cdn/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.11.2/cdn/shoelace-autoloader.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <body>
    <script type="module" src="/static/HelloWorld.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<script>
    function verifyThenSubmit() {
        console.log("HERE")
        requiredOnes = ["email", "pwd"];
        for (el of requiredOnes){
            var actual = document.querySelector("#" + el);
            if (actual.value.length == 0){
                document.querySelector("#badAlert2").open = true;
                setTimeout(()=>{
                    document.querySelector("#badAlert2").open = false;
                }, 2000);
                return;
            }
        }

        document.querySelector("#theForm").submit();
    }

    window.onload = function(){
        var url = new URLSearchParams(window.location.search)
        if (url.get("failedexists")){
            document.querySelector("#badAlertExists").open = true;
            setTimeout(()=>{
                document.querySelector("#badAlertExists").open = false;
            }, 3000);
        }
        if (url.get("failedpwd")){
            document.querySelector("#badAlertPwd").open = true;
            setTimeout(()=>{
                document.querySelector("#badAlertPwd").open = false;
            }, 3000);
        }
    }
</script>
<body class="h-full">
    <sl-alert id="badAlert2" variant="warning">
        <sl-icon slot="icon" name="exclamation-triangle"></sl-icon>
        <strong>Fill out all fields.</strong><br />
        Make sure you fill out everything before submitting.
    </sl-alert>
    <sl-alert id="badAlertPwd" variant="warning">
        <sl-icon slot="icon" name="exclamation-triangle"></sl-icon>
        <strong>Incorrect Password</strong><br />
        Make sure you typed your password correctly.
    </sl-alert>
    <sl-alert id="badAlertExists" variant="warning">
        <sl-icon slot="icon" name="exclamation-triangle"></sl-icon>
        <strong>Email does not have an account.</strong><br />
        Make sure the email you typed is a valid account email.
    </sl-alert>
    <form id="theForm" action="{{ url_for('authenticatelogin') }}" method="post" enctype="multipart/form-data">
        <div class="flex flex-col h-full w-full align-baseline justify-center">
            <sl-card class="self-center flex justify-center flex-col max-w-[90%] sm:min-w-[400px] min-h-[400px]">
                <div class="self-center flex justify-center flex-col max-w-[90%] sm:min-w-[400px] min-h-[400px]">
                    <a href= "/" class="self-center">
                        <img src="/static/parrot.png" class= "w-16 h-16">
                    </a>
                    <h1 class="self-center font-bold text-3xl p-5">Let's get learning.</h1>
                    <div class="flex-grow flex"></div>
                    <sl-input id="email" name="email" label="Email" placeholder="Enter your email" class="pl-2 pr-2 pb-2"></sl-input>
                    <sl-input id="pwd" name="pwd" label="Password" type="password" placeholder="Enter your password" password-toggle class="pl-2 pr-2 pb-2"></sl-input>
                    <div class="flex-grow flex my-1"></div>
                    <sl-button variant="primary" onclick="verifyThenSubmit()" class="self-center w-full pl-2 pr-2 pb-2" id="loginBtn">Login</sl-button>
                    <div class="flex-grow flex"></div>
                    <a href="/signup" class="self-center p-2">
                        <p class="no-underline hover:underline text-gray-400 hover:text-gray-500">No account? Sign Up.</p>
                    </a>
                </div>
            </sl-card>
        </div>
    </form>
</body>
